<style>
	.jp-entry-container {
		display:flex;
		flex-direction:column;
		justify-content:flex-start;
		width:100%;
	}

	.row {
		display:flex;
	}
	.table-wrapper {
		flex:1;
	}
	.jp-entry-lesson-data {
		width:100%;
		border-collapse:0;
		border:0;
		font-size:small;
		margin:0;
	}
	.jp-entry-lesson-data tr:nth-child(odd){
		background:#c6d0da;
	}
	.jp-entry-lesson-data th {
		padding:5px;
		width: 250px;
		text-align:center;
		border-right:2px solid #5f6f81;
		text-align:left;
		padding-left:15px;
	}
	.jp-entry-lesson-data td {
		padding:5px;
		padding-left:15px;
	}

	.jp-table-two tr {
		background:#c6d0da;
	}
	.jp-table-two tr:nth-child(even) {
		background:whitesmoke;
	}
	.jp-table-two th{
		color:black;
		font-size:larger;
		width:250px;
		padding:15px;
		border-right:2px solid #5f6f81;
	}
	.jp-table-two td {
		padding:15px;
	}
	.download-files {
		width:100px;
		text-align:center;
	}
	.download-files a {
		text-decoration:none;
		margin:0 5px;
	}
	.ccr-standards {
		width:50%;

	}
</style>

<section class="jp-entry-container">
	<div class="row">
		<div class="table-wrapper">
			<table class="jp-entry-lesson-data">
				<tr>
					<th>Lesson Title</th>
					<td>{$lesson_title}</td>
				</tr>
				<tr>
					<th>Unit Title</th>
					<td>{$unit_title}</td>
				</tr>
				<tr>
					<th>NRS Level</th>
					<td>{$nrs_level}</td>
				</tr>
				<tr>
					<th>Length of Lesson</th>
					<td>{$length_of_lesson}</td>
				</tr>
			</table>
		</div>
		<span class="download-files">
			<a href="{$docx_url}" class="docx download-file-icon">
				<img src="http://lessons.jeffmoser.com/wp-content/themes/Avada/lib/img/word.png" />
			</a>
			<a href="{$pdf_url}" class="pdf download-file-icon">
				<img src="http://lessons.jeffmoser.com/wp-content/themes/Avada/lib/img/pdf.png" />
			</a>
		</span>
	</div>
	<div class="row">
		<table class="jp-table-two">
			<tr>
				<th>Lesson Purpose</th>
				<td>
					{$lesson_purpose}
				</td>
			</tr>
			<tr>
				<th>Related Documents</th>
				<td>{$related_documents}</td>
			</tr>
			<tr>
				<th>Lesson Objectives</th>
				<td>{$lesson_objectives}</td>
			</tr>
			<tr>
				<th>Student Target</th>
				<td>{$student_target}</td>
			</tr>
		</table>
	</div>
	<div class="row">
		<div class="ccr-standards">
			<h3>CCR Standards</h3>
			{if $lead_ccr_anchor_standard}
			<p>{$lead_ccr_anchor_standard}</p>
			{/if}
			<p>{$mwotl_level}</p>
			<h4>Level-Specific Standards</h4>
			<ul>
				{foreach $ccr_standards as $standard}
					<li>{$standard}</li>
				{/foreach}
			</ul>
			<h3>Focus Standards</h3>
			<ul>
				{foreach $focus_standards as $standard}
					<li>{$standard}</li>
				{/foreach}
			</ul>
		</div>
		<div class="kyae">
			<h3>KYAE Employability Standards</h3>
			<ul>
			{foreach $kyae as $standard}
				<li>{$standard}</li>
			{/foreach}
			</ul>
		</div>
	</div>
</section>
